<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration debug="false">
  <appender class="ConsoleAppender" name="Console">
    <encoder class="PatternLayoutEncoder">
      <pattern>${pattern}</pattern>
    </encoder>
  </appender>
  <appender class="RollingFileAppender" name="Error">
    <encoder class="PatternLayoutEncoder">
      <pattern>${pattern}</pattern>
    </encoder>
    <file>logs/error/error.log</file>
    <filter class="ThresholdFilter">
      <level>WARN</level>
    </filter>
    <rollingPolicy class="SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>logs/error/error-${date_pattern}-%i.log</fileNamePattern>
      <maxFileSize>1MB</maxFileSize>
    </rollingPolicy>
  </appender>
  <appender class="RollingFileAppender" name="Info">
    <encoder class="PatternLayoutEncoder">
      <pattern>${pattern}</pattern>
    </encoder>
    <file>logs/info/info.log</file>
    <filter class="ThresholdFilter">
      <level>INFO</level>
    </filter>
    <rollingPolicy class="SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>logs/info/info-${date_pattern}-%i.log</fileNamePattern>
      <maxFileSize>1MB</maxFileSize>
    </rollingPolicy>
  </appender>

  <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
  <import class="ch.qos.logback.classic.filter.ThresholdFilter"/>
  <import class="ch.qos.logback.core.rolling.RollingFileAppender"/>
  <import class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy"/>
  <import class="ch.qos.logback.core.ConsoleAppender"/>

  <logger name="com.miti99.netty">
    <appender-ref ref="Console"/>
    <appender-ref ref="Info"/>
  </logger>

  <root>
    <appender-ref ref="Error"/>
  </root>

  <!--  <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>-->

  <variable name="pattern" value="%d %-5p [%t] %c - %m%n"/>
  <variable name="date_pattern" value="%d{MM-dd-yyyy}"/>
</configuration>
